@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Train+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --my-font-primary: 'Oswald', sans-serif;
  --my-font-secondary: 'DM Serif Display', serif;
  --my-font-special: 'Train One', cursive;
  --color-1:#81b64e;
  --color-2:#1e213a;
}

*{
	margin:0px;
	padding: 0px;
	font-size: 15px;
}

/* navbar new style */

.navbar{
	padding:0 !important;
	font-family: var(--my-font-primary);
}

.ml-auto{
	margin-left:auto !important;
}

.nav-item {
    min-width: 100px;
    text-align: center;
    padding: 10px 0;
    font-size: large;
}

.nav-item:hover,.nav-item.active{
	background-color: #81b64e;
	color:white !important;
}

.nav-link{
	color:inherit !important;
}

.navbar-brand{
	font-size: xx-large;
}

.headnav{
    padding: 5px 20px;
    background-color: #013759; /* #192f5d*/
    color: white;
    font-family: 'Oswald';
    font-weight:400;
}

.ml-2{
	margin-left: 2rem;
}

.socio-icons{
	list-style: none;
    display: inline-flex;
    margin:0;
}

.social-icon{
	padding-right: 20px;
}

.social-icon.facebook:hover{
	color: rgb(58 87 148);
}

.social-icon.twitter:hover{
	color: #1c9cea;
}

.text-right{
	text-align: end;
}

a {
    color: #81b64e;
    text-decoration: none;
}


.footer{
  background-color: #1e213a!important;
  color:white;
  padding:20px 0;
}

h4{
  color:var(--color-1);
}

.footer{
  font-size:13px !important;
}

.gotop{
  position: fixed;
  right: 10px;
  bottom: 50px;
  background: white;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  padding: 5px;
}

.gotop:hover{
  background-color: var(--color-1);
}

p {
    margin-top: 0;
    margin-bottom: 0rem !important;
}

.tooltip1 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #FFF;
    margin-top: .41em;
    padding-bottom: 10px;
    width: 100%;
}

.tooltip1 .tooltiptext1 {
    visibility: hidden;
    background-color: aliceblue;
    color: #000;
    text-align: left;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    font-weight: 500;
    bottom:2em;
    box-shadow: 0px 0px 5px 1px #000;
}

.tooltip1:hover .tooltiptext1 {
  visibility: visible;
  width: 300px;
  right: 0px;
}

.slide-img{
  max-height:400px;
  width:100%;
}

.form-control {
    display: block;
    width: 100%;
    padding: .81em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: border-box;
    border: 1px dotted #8884;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 0px 0 20px 0;
}

.form-group label{
  margin:10px 0;
  font-weight: 500;
}

.myform{
  padding:20px;
  border:1px solid #9994;
}

.title-1 {
  font-size:24px;
  text-align:center;
  font-weight:700;
  margin-bottom:20px;
}

h3.title-2{
  color:var(--color-1); 
  font-size:20px;
}

.values-icon{
  float: left;
  margin-right: 20px;
  width: 100%;
  max-height: 200px;
  padding: 2em;
}

.text-justify{
  text-align: justify;
}

.dropdown-menu.show {
    display: block;
    z-index: 999;
}

.partner{
  border: 0px dotted #0009;
  padding: 0em 1em 0em 1em;
  box-shadow: 0px 0px 10px 0px #0003;
  margin:1em auto;
}

strong svg{
  color: var(--color-1);
}

.gst-box{
  padding: 10px;
  /*box-shadow: 0px 0px 10px 0px #0002;*/
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gst-box img{
  width: 140px;
  height:90px;
  margin:auto;
}

.gst-box a{
  color: #91b64e;
  text-decoration: underline;
}

.gst-box a:hover{
  color: #91b64e;
  text-decoration: none;
}

.gst-box a h4{
  font-size:1.2em; 
}

.gst-ul li{
  margin-top: 10px;
  list-style: square;
}

.gst-ul li span {
  padding: 5px 10px;
  background: aliceblue;
}

.gst-ul li span:hover {
  background: var(--color-2);
  transition: smooth;
  color:white;
  padding: 5px 20px;
  font-weight: 500;
}

@media (max-width: 450px) {
  .navbar-brand {
    font-size: large;
  }
}